* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Quicksand, sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 0;
}

.center {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-section {
  width: 60%;
  margin: 0 auto;
}

.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.603);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 2.2rem;
  border-radius: 1.2rem;
  padding: 4.8rem 3.2rem;
}

.card-list {
  list-style: none;
  font-size: 3.6rem;
  font-weight: bold;

  border-radius: 1.2rem;
  margin: 0.5rem auto;
  cursor: pointer;
  background-color: #2e3d49;

  width: 13rem;
  height: 11rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-primary {
  font-size: 3.8rem;
  color: #355275;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2.8rem;
  font-weight: 300;
  color: #121d26;
  transform: translate(-39%, 1000%);
}

.move-timer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}

.span-info {
  font-size: 3.6rem;
  font-weight: bold;
  color: #355275;
}

.red {
  background-color: #c0392b;
  fill: #fff;
}
